<%- include('partials/head') %>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SocialMed.</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feed">Feed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/messages">Messages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container p-2">
        <h1 class="text-primary">Home</h1>
        <div class="posts row border border-3 p-4">
            <% for(post of posts){ %>
                <div class="col-md-4 mb-4">
                    <div class="card border-3">
                        <img src="<%= post.img %>" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><%= post.content %></h5>
                            <p class="card-text">Likes: <%= post.likes %>, Comments: <%= post.comments %></p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>